.dashboard {
    width: 100%;
    background-color: #f8f8fc;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__title {
    margin: 1rem 0rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #7e819c;
}

.dashboard__container {
    width: 87.5%;
    height: 100%;
}

.dashboard__link {
    text-decoration: none;
    color: white;
}

.dashboard__link:hover {
    text-decoration: none;
    color: white;
}

.dashboard__buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    .dashboard__buttonBox {
        margin-bottom: 2rem;
    }
}