.filterModal__container {
    width: 50%;
    height: 78%;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10000;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    border: 1.5px solid #7d5fff;


    display: flex;
    justify-content: center;
    align-items: center;
}

.filterModal__title {
    margin: 1rem 0rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #7e819c;
    text-align: center;
}

.filterModal__table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
  }
  
  .filterModal__table thead tr {
    background-color: #7d5fff;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .filterModal__table th,
  .filterModal__table td {
    padding: 12px 15px;
  }
  
  .filterModal__table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
    text-align: center
  }
  
  .filterModal__table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .filterModal__table tbody tr:last-of-type {
    border-bottom: 2px solid #7d5fff;
    border-radius: 5px;
  }
  
  .filterModal__table tbody tr.active-row {
    font-weight: bold;
    color: #7d5fff;
  }




  .filterModal__button:focus {
      outline: none;
  }

  